<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>代码雨</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            overflow: hidden;
        }

        canvas {
            background-color: #000;
            width: 100vw;
            height: 100vh;
        }
    </style>
    <script>
        window.onload = () => {
            const cvs = document.querySelector("canvas")
            const ctx = cvs.getContext("2d")
            function init() {
                cvs.width = window.innerWidth * devicePixelRatio
                cvs.height = window.innerHeight * devicePixelRatio
            }
            init()

            const fontSize = 20 * devicePixelRatio
            ctx.font = `${fontSize}px "Consolas"`
            // 总列数
            const columnCount = Math.floor(cvs.width / fontSize)
            // 根据列数创建数组
            const charIndex = new Array(columnCount).fill(0)

            function getRandomChar() {
                const str = '0123456789abcdefghijklmnopqrstuvwxyz';
                return str[Math.floor(Math.random() * str.length)];
            }

            function draw() {
                ctx.fillStyle = 'rgba(0,0,0,0.1)'
                ctx.fillRect(0, 0, cvs.width, cvs.height)
                ctx.fillStyle = "#6be445"
                ctx.textBaseline = "top"

                for (let i = 0; i < columnCount; i++) {
                    const text = getRandomChar()
                    const x = i * fontSize
                    const y = charIndex[i] * fontSize
                    ctx.fillText(text, x, y)
                    if (y > cvs.height && Math.random() > 0.99) {
                        charIndex[i] = 0
                    } else {
                        charIndex[i]++;
                    }
                }
            }

            draw();
            setInterval(draw, 50)
        }
    </script>
</head>

<body>
    <canvas></canvas>
</body>

</html>