<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaScript练习</title>
    <style type="text/css">
        ul{
            width: 15%;
            float: left;
            margin-left: 20px;
        }
        ul li{
            cursor: pointer;
            color: blue;
        }
        ul li:hover{
            text-decoration: underline;
        }
        #content{
            float: left;
            width: 80%;
            height: 750px;
        }
    </style>
    <script type="text/javascript">
    window.onload = function(){
        var ocontent = document.getElementById("content");
        // var olis = document.querySelectorAll("ul li");
        // for(var i in olis){
        //     olis[i].onclick = function(){
        //         ocontent.src = this.getAttribute("href");
        //     }
        // }

        //采用委托
        var oul = document.querySelector("ul");
        oul.onclick = function(evt){
            var e = evt || window.event;
            var target = e.target || window.event.srcElement;
            if(target.nodeName.toLowerCase() == "li"){
                ocontent.src = target.getAttribute("href");
            }
        }
    }
    </script>
</head>
<body>
    <ul>
        <li href="/views/view_js/mousehere.html">鼠标跟随事件</li>
        <li href="/views/view_js/div_follow.html">div跟随鼠标事件</li>
        <li href="/views/view_js/drag_div.html">div拖拽</li>
        <li href="/views/view_js/chat.html">简单聊天功能</li>
        <li href="/views/view_js/heart.html">心心(点击试试)</li>
        <li href="/views/view_js/MagnifyGlass.html">放大镜</li>
        <li href="/views/view_js/knock.html">碰撞</li>
        <li href="/views/view_js/BreakoutClone.html">打砖块</li>
        <li href="/views/view_js/drawCircle.html">打砖块</li>
        <li href="/views/view_js/banner.html">banner图片效果</li>
        <li href="/views/view_js/ajax.html">java原生ajax</li>
        <li href="/views/view_js/jsonp.html">jsonp实现跨域数据获取</li>
        <li href="/views/view_js/cookie.html">cookie测试</li>
        <li href="/views/view_js/require.html">AMD规范模块化</li>

        <li href="/views/view_jq/page.html">分页效果</li>
        <li href="/views/view_jq/MagnifyGlass.html">分页效果</li>
        <li href="/views/view_jq/Banner.html">分页效果</li>
        <li href="/views/view_jq/ShoppingCart.html">购物车</li>
    </ul>
    <iframe id="content" frameborder="1" scrolling="auto">
    </iframe>
</body>
</html>