<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ajax</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
</head>
<body>
    <div id="context">
        <p>{{info}}</p>
        <button @click="btnbase">点击(axios)</button>
        <button @click="jqbtn">点击(jquery)</button>
    </div>
    <script>
        const vm = Vue.createApp({
            data() {
                return {
                    fname: "familyname",
                    lname: "lastname",
                    info: 'ajax test'
                }
            },
            methods: {
                btnbase: function(){
                    // 这里并不接受json格式的参数 所以要定义FormData对象
                    let data = new FormData();
                    data.append("fname", this.fname);
                    data.append("lname", this.lname);
                    axios({
                        methoF: "post",
                        url:`/ajax/base`,
                        data: data
                    })
                    .then(function(response){
                        console.log(response);
                        vm.info = "axios:" + response.data;
                    }).catch(function(error){
                        console.log(error);
                        vm.info = error;
                    })
                },
                jqbtn: function(){
                    $.ajax({
                    url:"/ajax/base",
                    type:"POST",
                    //dataType: "json",     //这里并不是json数据（会报错）
                    data:{
                        fname:this.fname,
                        lname:this.lname
                    },
                    success:function(data){
                            vm.info = "jquery:" + data;
                            console.log("success:" + data);
                        },
                    error: function(err){
                            vm.info = err.responseText;
                            console.log("error:" + err.responseText);
                        }
                    });
                }
            }
        }).mount("#context")
    </script>
</body>
</html>