<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>计算属性</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        {{msg}}
        <p>{{date}}</p>
    </div>
    <script>
        const vm = Vue.createApp({
            data() {
                return {
                    msg:"message"
                }
            },
            computeF:{  //计算属性，只有函数中用到的属性发生改变时，才重新计算函数结果
                date: function(){
                    this.msg;           //这个变量是为了触发这个函数的刷新
                    return Date.now();  //只有this.msg发生变化时 才会重新计算该函数的结果
                }
            }
        }).mount("#app");
    </script>
</body>
</html>