<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stack</title>
    <style>
        .mt-4{
            margin: 10px;
        }
    </style>
</head>
<body>
    <div id="app"></div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const { h, createApp } = Vue;

        const Stack = {
            //render函数负责将template转换为vnode对象
            render(){
                //this.$slots 包含了模板的 子对象(也需要通过h函数转换)
                const slot = this.$slots.default
                    ? this.$slots.default() : []
                    
                //通过h函数构造vnode对象
                return h('div', {class: 'stack'}, slot.map(child => {
                    return h('div', {class: `mt-${this.$attrs.size}`},[child])
                }))
            }
        }

        const App = {
            components:{
                Stack
            },
            //这里是需要转换为vnode的模板
            template:`
            <Stack size="4">
                <div>hello</div>
                <Stack size="4">
                    <div>hello</div>
                    <div>hello</div>
                    <Stack size="4">
                        <div>hello</div>
                        <div>hello</div>
                        <div>hello</div>
                        <div>hello</div>
                    </Stack>
                </Stack>
            </Stack>
            `
        }

        createApp(App).mount('#app')
    </script>
</body>
</html>