<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>字体图标</title>
    <!--
        从淘宝提供的免费字体图标下载
        url: https://www.iconfont.cn
        下载方法 1 将需要的图标加入购物车（1次最多20个） 直接下没有demo
                2 将购物车添加到我的项目
                3 从我的项目下载到本地（这样会有个demo 方便学习怎么使用）

     -->
    <link rel="stylesheet" type="text/css" href="/views/font_face/iconfont.css">
</head>
<body>
    <span class="iconfont icon-icon-test">&#xe651;&#xe654;&#xe655;</span>
    <span class="iconfont icon-icon-test4">&#xe657;&#xe658;&#xe659;</span>
    <span class="iconfont icon-icon-test8">&#xe65b;&#xe65c;&#xe65d;</span>
    <span class="iconfont icon-icon-test12">&#xe65f;&#xe660;&#xe661;</span>
    <span class="iconfont icon-icon-test16">&#xe663;&#xe664;&#xe665;</span>
</body>
</html>