<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>粘性效果</title>
</head>
<body style="height: 2000px">
    <p>aaaaaaaa</p>
    <p>aaaaaaaa</p>
    <p>aaaaaaaa</p>
    <p>aaaaaaaa</p>
    <p>aaaaaaaa</p>
    <p>aaaaaaaa</p>
    <p>aaaaaaaa</p>
    <p>aaaaaaaa</p>
    <p>aaaaaaaa</p>
    <p>aaaaaaaa</p>
    <p>aaaaaaaa</p>
    <p>aaaaaaaa</p>
    <div style="background-color: red; position: sticky; top: 0px">这个块到顶端后会定在那里</div>
    <p>bbbbbbbb</p>
    <p>bbbbbbbb</p>
    <p>bbbbbbbb</p>
    <p>bbbbbbbb</p>
    <p>bbbbbbbb</p>
    <p>bbbbbbbb</p>
    <p>bbbbbbbb</p>
    <p>bbbbbbbb</p>
    <p>bbbbbbbb</p>
    <p>bbbbbbbb</p>
    <p>bbbbbbbb</p>
    <p>bbbbbbbb</p>
</body>
</html>