<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>简历</title>

    <style type="text/css">
        table th{
            text-align: center;
            font-weight: bold;
        }
        table td {
            text-align: center;
            width: 100px;
        }
    </style>
</head>
<body>
    <table border="1" cellspacing="0">
        <tbody>
            <tr>
                <th colspan="7">个人简历</th>
            </tr>
            <tr>
                <td>姓名</td>
                <td></td>
                <td>性别</td>
                <td></td>
                <td>年龄</td>
                <td></td>
                <td rowspan="4">照片</td>
            </tr>
            <tr>
                <td>学历</td>
                <td></td>
                <td>籍贯</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td>电话</td>
                <td></td>
                <td>政治面貌</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td>毕业院校</td>
                <td colspan="5"></td>
            </tr>
            <tr>
                <td>求职意向</td>
                <td colspan="6"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>